<!-- new_customer.ejs -->
<form method="post" action="/sample_data/newcustomer">
    <div class="form-floating mb-4">
        <input type="text" name="customerName" id="CustomerName" placeholder="Nome do Cliente" class="form-control">
        <label for="CustomerName">Nome do Cliente</label>
    </div>
    <div class="form-floating mb-4">
        <input type="text" name="cpf" id="Cpf" placeholder="CPF" class="form-control">
        <label for="Cpf">CPF</label>
    </div>
    <div class="form-floating mb-4">
        <input type="text" name="petName" id="PetName" placeholder="Nome do Pet" class="form-control">
        <label for="PetName">Nome do Pet</label>
    </div>
    <div class="form-floating mb-4">
        <input type="text" name="petType" id="PetType" placeholder="Tipo do Pet" class="form-control">
        <label for="PetType">Tipo do Pet</label>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <input type="submit" class="btn btn-success" value="Adicionar">
    </div>
</form>
