<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/new_user_form.css" />
    <title>Adicionar Cliente</title>
</head>
<body>
    <div class="container">
        <h1>Add new Customer</h1>
        
        <% if (messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
            </div>
        <% } %>
        
        <form method="post" action="/customers">
            <div class="form-floating mb-4">
                <input type="text" name="customerName" id="CustomerName" placeholder="Customer name" class="form-control">
                <label for="CustomerName">Customer name</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" name="cpf" id="Cpf" placeholder="CPF" class="form-control">
                <label for="Cpf">CPF</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" name="petName" id="PetName" placeholder="Pet name" class="form-control">
                <label for="PetName">Pet name</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" name="petType" id="PetType" placeholder="Pet type" class="form-control">
                <label for="PetType">Pet type</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" class="btn btn-success" value="Confirm">
            </div>
        </form>
    </div>
</body>
</html>
